body {
  min-height: 100vh;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  padding: 0 200px;
}

.header, 
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

.links {
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #F9FAF8;
}

.first-container {
  display: flex;
  margin: 70px 0;
}

.content-left,
.content-right {
  flex: 1;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0px 0;
}

.title-subtext {
  font-size: 18px;
  color: #E5E7EB;
}